/*
0 - 600px: Phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
1200px - 1800px: Laptop Regular Desktop
1800px - + : Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desk


CHANGES ORDER:
Base + typography --> generaly layout --> components

*/
@keyframes moveInRight {
  0% {
    transform: translateX(50%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes moveInUp {
  0% {
    transform: translateY(50%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(-50%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes popFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  width: 100vw;
  /* Calculated based on the browser's font, to define 1rem */
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /* Change the box model so that borders and paddings are no longer added to the total width/height specified for box */
  background-color: #eeeeee; }

.container {
  display: grid; }

body {
  font-family: "Garamond", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #222831; }

.heading-1 {
  font-size: 5rem;
  color: #222831; }

.heading-2 {
  font-size: 4rem;
  color: #222831; }

.heading-3 {
  font-size: 3rem;
  font-weight: 600;
  color: #222831; }

.paragraph-1 {
  color: #31363f;
  font-size: 2rem; }

.u-bottom-shadow-text {
  text-shadow: 0 1rem 2rem rgba(118, 171, 174, 0.5); }

.u-bottom-shadow-box {
  box-shadow: 0 1rem 3rem rgba(118, 171, 174, 0.2); }

.u-hidden {
  display: none !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn {
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 16px;
  color: white;
  background-color: #222831;
  cursor: pointer;
  transition: transform 0.1s ease; }
  .btn--dark {
    background-color: #222831; }
    .btn--dark:hover {
      transform: translateY(-10%); }
    .btn--dark:active {
      transform: translateY(-5%); }

.carousel-btn {
  position: absolute;
  cursor: pointer;
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 50%; }

.experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden; }
  @media only screen and (max-width: 900px) {
    .experience {
      grid-template-rows: 1fr 3fr;
      grid-template-columns: auto; } }
  .experience__category {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5rem; }
    .experience__category h2 {
      margin: 3rem 0; }
    .experience__category-separator {
      position: absolute;
      height: 50%;
      width: 100%;
      transform: translateY(8rem);
      border-right: 3px solid rgba(49, 54, 63, 0.6); }
      @media only screen and (max-width: 900px) {
        .experience__category-separator {
          display: none; } }
    @media only screen and (max-width: 900px) {
      .experience__category {
        justify-content: flex-start;
        align-items: center;
        padding-top: 0; } }
  .experience__titlebox {
    display: flex;
    justify-content: space-evenly;
    width: 100%; }
    @media only screen and (min-width: 900px) {
      .experience__titlebox {
        width: 25rem;
        height: 25rem;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem; } }
  .experience__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.2s; }
    .experience__title:hover {
      transform: scale(1.1); }
    .experience__title--1 {
      grid-row: 1 / 2;
      grid-column: 2 / 3; }
    .experience__title--2 {
      grid-row: 2 / 3;
      grid-column: 3 / 4; }
    .experience__title--3 {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
    .experience__title--4 {
      grid-row: 3 / 4;
      grid-column: 2 / 3; }
    .experience__title p {
      font-size: 2rem; }
    .experience__title--active {
      padding-bottom: 10px;
      border-bottom: 2px solid #222831;
      transform: scale(1.1); }
  .experience__description {
    overflow: hidden;
    padding: 8rem; }
    @media only screen and (max-width: 900px) {
      .experience__description {
        padding: 6rem; } }
    @media only screen and (max-width: 600px) {
      .experience__description {
        padding: 4rem; } }
  .experience__description-work {
    display: grid;
    grid-template-rows: repeat(7, min-content);
    row-gap: 1rem; }
  .experience__description-tech, .experience__description-edu, .experience__description-lang {
    display: grid;
    grid-template-rows: repeat(6, min-content);
    row-gap: 1rem; }
    .experience__description-tech object, .experience__description-edu object, .experience__description-lang object {
      height: 80%;
      width: 80%;
      max-width: 200px;
      object-fit: cover; }
  .experience__art {
    justify-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 2rem;
    justify-items: center; }
  .experience__artbox {
    overflow: hidden; }
    .experience__artbox object {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .experience__lottie {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .experience__icon {
    height: 50px;
    width: 50px;
    display: block;
    z-index: 20; }
    @media only screen and (max-width: 600px) {
      .experience__icon {
        height: 50px;
        width: 50px; } }

.footer__first {
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center; }
  .footer__first p {
    color: #eeeeee;
    text-align: center; }
    .footer__first p a:link,
    .footer__first p a:visited {
      color: #eeeeee;
      text-decoration: none; }
    .footer__first p a:hover,
    .footer__first p a:active {
      text-decoration: underline; }

.footer__second {
  color: #eeeeee;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center; }
  .footer__second p {
    color: #eeeeee;
    text-align: center; }
    .footer__second p a:link,
    .footer__second p a:visited {
      color: #eeeeee;
      text-decoration: none; }
    .footer__second p a:hover,
    .footer__second p a:active {
      text-decoration: underline; }

.footer__img {
  max-height: 150px;
  max-width: 150px; }

.project__card {
  max-width: 500px;
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  border: 2px solid #31363f;
  border-radius: 16px;
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: 200px repeat(2, min-content) 1fr;
  row-gap: 1rem;
  overflow: hidden;
  position: relative; }
  .project__card-photobox {
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #31363f;
    filter: brightness(1.2); }
  .project__card-photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .project__card-description {
    font-size: 1.5rem;
    margin: 0 2rem 2rem 2rem; }
  .project__card-title {
    font-size: 3rem;
    margin-left: 2rem;
    font-weight: 600; }
  .project__card-techbox {
    align-self: end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    align-items: center;
    justify-items: center;
    padding-bottom: 1rem;
    margin-left: 2rem; }
    .project__card-techbox img {
      height: 25px;
      width: 25px;
      display: block;
      transition: transform 0.2s; }
      .project__card-techbox img:hover {
        transform: scale(1.2); }
      .project__card-techbox img:active {
        transform: scale(1); }
  .project__card-tech {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #93d6d9;
    border-radius: 1rem; }

.resource__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 4rem;
  border-radius: 16px;
  border: 1px solid black;
  background-color: #31363f; }
  @media only screen and (max-width: 600px) {
    .resource__card {
      grid-template-rows: min-content 300px;
      grid-template-columns: 1fr; } }
  .resource__card-textbox h3,
  .resource__card-textbox p {
    color: #eeeeee; }
  .resource__card-textbox a {
    text-decoration: none;
    color: #76abae;
    transition: transform 0.2s; }
    .resource__card-textbox a:hover {
      background-color: #93d6d9;
      color: #31363f; }
  @media only screen and (max-width: 600px) {
    .resource__card-textbox {
      margin-bottom: 3rem;
      text-align: center; } }
  .resource__card-artbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem; }
    @media only screen and (max-width: 600px) {
      .resource__card-artbox {
        padding: 0; } }
  .resource__card-img {
    width: 75%;
    height: 75%; }
    @media only screen and (max-width: 600px) {
      .resource__card-img {
        width: 60%;
        height: 60%; } }

.header {
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template-columns: 2fr minmax(30rem, 1fr);
  padding: 10rem; }
  @media (max-width: 900px) {
    .header {
      padding: 5rem;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr; } }
  @media only screen and (max-height: 600px) and (min-width: 600px) {
    .header {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      padding: 1rem; } }
  .header__introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem; }
    @media (max-width: 900px) {
      .header__introduction {
        align-items: flex-end; } }
    @media only screen and (max-height: 600px) and (min-width: 600px) {
      .header__introduction {
        align-items: center; } }
  .header__introductionbox {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(min-content, 1fr); }
    .header__introductionbox span {
      color: #76abae;
      font-weight: 600;
      text-decoration: underline; }
    @media (max-width: 900px) {
      .header__introductionbox {
        text-align: center;
        padding-bottom: 3rem; } }
  .header__art {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 900px) {
      .header__art {
        align-items: flex-start; } }
    @media only screen and (max-height: 600px) {
      .header__art {
        align-items: center; } }
  .header__artbox {
    max-width: 100vw;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr); }
    .header__artbox img {
      max-width: 600px;
      justify-self: center;
      filter: brightness(0.9); }
    @media (max-width: 900px) {
      .header__artbox {
        grid-template-rows: repeat(2, 1fr); } }
  .header__img {
    display: block;
    width: 100%;
    object-fit: cover;
    grid-row: 2 / -1;
    grid-column: 1 / -1; }
    @media (max-width: 900px) {
      .header__img {
        grid-row: 1 / 3;
        grid-column: 1 / -1; } }
  .header__clock {
    display: block;
    grid-row: 2 / 2;
    grid-column: 1 / 2;
    max-width: 200px; }
    @media (max-width: 900px) {
      .header__clock {
        grid-row: 1 / 1;
        grid-column: 1 / 1; } }

.interests {
  display: grid;
  grid-template-columns: 1fr 2fr; }
  @media only screen and (max-width: 720px) {
    .interests {
      grid-template-rows: min-content 2fr;
      grid-template-columns: 1fr; } }
  .interests__menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 3rem; }
    @media only screen and (max-width: 720px) {
      .interests__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
        .interests__menu h3 {
          display: none; } }
  .interests__menutext {
    display: inline-block;
    cursor: pointer;
    transition: transform padding-left 0.2s;
    margin-bottom: 1rem; }
    .interests__menutext:hover {
      transform: scale(1.01); }
    .interests__menutext--active {
      border-left: 2px solid black;
      padding-left: 1rem; }
  .interests__menubox {
    display: none; }
    @media only screen and (max-width: 720px) {
      .interests__menubox {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 0.2s; }
        .interests__menubox--active {
          transform: scale(1.1);
          padding-bottom: 1rem;
          border-bottom: 2px solid black; } }
    .interests__menubox img {
      height: 50px;
      width: 50px; }
  .interests__artbox {
    overflow: hidden;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem; }
    .interests__artbox button {
      display: none; }
    @media only screen and (max-width: 720px) {
      .interests__artbox {
        position: relative;
        display: block;
        height: 70vh;
        z-index: 1000; }
        .interests__artbox button {
          display: block;
          top: 50%;
          transform: translateY(-50%); }
          .interests__artbox button:first-child {
            left: 0; }
          .interests__artbox button:last-child {
            right: 0; } }
  .interests__art {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 1s; }
    .interests__art img {
      display: block;
      border-radius: 1rem;
      height: 100%;
      width: 100%;
      object-fit: cover;
      margin-bottom: 1rem; }
    @media only screen and (max-width: 720px) {
      .interests__art {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 80%;
        padding: 4rem; }
        .interests__art img {
          height: 100%;
          width: 100%; } }

.projects {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center; }

.projects-title {
  margin-bottom: 8rem;
  align-self: flex-start; }
  @media only screen and (max-width: 600px) {
    .projects-title {
      align-self: center; } }

.resources {
  display: grid;
  row-gap: 2rem;
  width: 100%; }

.resources-title {
  margin-bottom: 8rem; }

.section-experience {
  min-height: 100vh;
  height: auto; }

.section-projects {
  min-height: 100vh;
  height: auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.section-interests {
  min-height: 100vh;
  height: auto;
  padding: 4rem; }

.section-resources {
  min-height: 100vh;
  height: auto;
  padding: 4rem; }

.footer {
  margin-top: 5rem;
  padding-top: 3rem;
  width: 100vw;
  height: auto;
  background-color: #31363f;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; }
  @media only screen and (max-width: 600px) {
    .footer {
      grid-template-rows: repeat(2, minmax(min-content, 15rem));
      grid-template-columns: 1fr; } }
