/*
0 - 600px: Phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
1200px - 1800px: Laptop Regular Desktop
1800px - + : Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desk


CHANGES ORDER:
Base + typography --> generaly layout --> components

*/
@keyframes moveInRight {
  0% {
    transform: translateX(50%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@keyframes moveInUp {
  0% {
    transform: translateY(50%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(-50%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes popFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  width: 100vw;
  /* Calculated based on the browser's font, to define 1rem */
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /* Change the box model so that borders and paddings are no longer added to the total width/height specified for box */ }

body {
  font-family: "Garamond", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #222831; }

.header__introduction-name {
  color: inherit;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  animation: moveInRight 1s ease-in; }

.heading-primary {
  color: inherit;
  font-size: 5rem; }

.heading-secondary {
  color: inherit;
  font-size: 3rem; }

.header__description {
  color: inherit;
  display: block;
  font-size: 3rem;
  text-align: center;
  animation: moveInUp 1s ease-in; }

.experience__title {
  color: inherit;
  font-size: 3rem;
  display: inline-block; }

.paragraph-primary {
  font-size: 2rem; }

.footer__description {
  color: #eeeeee;
  font-size: 2rem; }

.u-bottom-shadow-text {
  text-shadow: 0 1rem 2rem rgba(118, 171, 174, 0.5); }

.u-bottom-shadow-box {
  box-shadow: 0 1rem 3rem rgba(118, 171, 174, 0.2); }

.u-hidden {
  display: none !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn {
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 16px;
  color: white;
  background-color: #222831;
  cursor: pointer;
  transition: transform 0.1s ease; }
  .btn--dark {
    background-color: #222831; }
    .btn--dark:hover {
      transform: translateY(-10%); }
    .btn--dark:active {
      transform: translateY(-5%); }

.footer {
  height: 15rem;
  background-color: #31363f;
  display: flex;
  justify-content: center;
  align-items: center; }

.experience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  padding: 3rem;
  overflow: hidden; }
  .experience__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    height: 100%;
    overflow: hidden; }
    .experience__list__primary {
      margin-bottom: auto; }
    .experience__list-item {
      padding: 1rem;
      text-align: center;
      transition: transform 0.5s;
      cursor: pointer;
      border-radius: 5px; }
      .experience__list-item:not(:last-child) {
        margin-bottom: 3rem; }
      .experience__list-item:hover {
        transform: scale(1.2);
        text-shadow: 0 1rem 2rem rgba(118, 171, 174, 0.5); }
      .experience__list-item:active {
        transform: translateY(1rem); }
  .experience__card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    padding: 2rem;
    height: 80%;
    width: 80%;
    background-color: #ccc; }
  .experience__visual {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    height: 100%; }
    .experience__visual-photobox {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotateY(0deg);
      background-color: blue;
      height: 80%;
      width: 80%;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: transform 1s; }
      .experience__visual-photobox img {
        display: block;
        height: 100%;
        width: 100%; }
      .experience__visual-photobox--expand {
        transform: translate(-50%, -50%) rotateY(-180deg); }
    .experience__visual-descriptionbox {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotateY(180deg);
      background-color: yellow;
      height: 80%;
      width: 80%;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 1s; }
      .experience__visual-descriptionbox--expand {
        transform: translate(-50%, -50%) rotateY(0deg); }
  .experience__description {
    display: none; }
    .experience__description--active {
      display: block; }

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #eeeeee;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .header {
      flex-direction: column; } }
  .header__logo-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .header__logo-box {
        padding: 5rem;
        height: 50%; } }
  .header__logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70rem;
    width: 70rem;
    overflow: hidden;
    animation: moveInLeft 1s ease-in; }
    @media only screen and (max-width: 75em) {
      .header__logo {
        height: 100%;
        width: 100%; } }
    .header__logo-photo {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: brightness(0.9); }
  .header__text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .header__text-box {
        height: 50%; } }
  .header__clock-box {
    height: 20rem;
    width: 20rem;
    position: absolute;
    top: 0%;
    left: 0%;
    animation: moveInBottom 1s ease-in; }
    @media only screen and (max-width: 75em) {
      .header__clock-box {
        width: 15%;
        height: auto; } }
    @media only screen and (max-width: 56.25em) {
      .header__clock-box {
        height: 20rem;
        width: 20rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__clock-box {
        width: 25%;
        height: auto; } }
  .header__clock-img {
    width: 100%;
    height: 100%; }

.section-experience {
  height: 100vh;
  background-color: #eeeeee; }
