@import "./abstract/functions";
@import "./abstract/mixins";
@import "./abstract/variables";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

@import "./components/button";
@import "./components/experience";
@import "./components/footer";
@import "./components/interestcard";
@import "./components/projectcard";
@import "./components/resourcecard";

@import "./layout/header";
@import "./layout/projects";
@import "./layout/resources";

@import "./pages/home";
