.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: $color-background-light-1;
  overflow: hidden;

  @include respond(tab-port) {
    flex-direction: column;
  }

  @include respond(phone) {
  }

  &__logo-box {
    position: relative;
    @include flex-centering;
    flex: 1;
    padding: 5rem;
    @include respond(tab-port) {
      padding: 5rem;
      height: 50%;
    }
  }

  &__logo {
    position: relative;
    @include flex-centering;
    height: 70rem;
    width: 70rem;
    overflow: hidden;
    animation: moveInLeft 1s ease-in;

    @include respond(tab-land) {
      height: 100%;
      width: 100%;
    }

    &-photo {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: brightness(0.9);
    }
  }

  &__text-box {
    @include flex-centering;
    flex: 1;
    padding: 5rem;
    @include respond(tab-port) {
      height: 50%;
    }
  }

  &__clock-box {
    height: 20rem;
    width: 20rem;
    position: absolute;
    top: 0%;
    left: 0%;
    animation: moveInBottom 1s ease-in;

    @include respond(tab-land) {
      width: 15%;
      height: auto;
    }

    @include respond(tab-port) {
      height: 20rem;
      width: 20rem;
    }

    @include respond(phone) {
      width: 25%;
      height: auto;
    }
  }

  &__clock-img {
    width: 100%;
    height: 100%;
  }
}
