.projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
  overflow: hidden;
}

.projects-title {
  overflow: hidden;
  margin-right: auto;
  margin-bottom: 2rem;
  align-self: flex-start;
  font-family: "Crimson Text", serif;
  font-weight: 600;

  @media only screen and (max-width: 900px) {
    margin-left: auto;
  }
}
