.resources {
  display: grid;
  row-gap: 2rem;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  font-family: "Crimson Text", serif;

  h3 {
    font-weight: 600;
  }

  p {
    font-weight: 400;
  }

  &__link {
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    font-size: 1.25rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    height: 30px;
    width: 55px;
    background-color: $color-accent-light-1;
    transition: transform 0.1s ease, background-color 0.1s ease; /* Smooth animations */

    @media only screen and (max-width: 720px) {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      background-color: lighten(
        $color-dark-0,
        10%
      ); /* Highlight slightly on hover */
    }

    &:active {
      transform: translateY(2px); /* Moves link slightly downward */
      background-color: lighten(
        $color-dark-0,
        15%
      ); /* Highlight more on press */
    }

    a {
      color: white;
      text-decoration: none; /* Remove underline */

      &:hover,
      &:focus {
        // outline: none; /* Remove focus outline */
        background-color: transparent; /* Prevent background highlight, if any */
        color: inherit; /* Ensure text color doesn't change */
      }
    }
  }
}

.resources-title {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 3rem;

  @media only screen and (max-width: 720px) {
    padding-left: 0;
    text-align: center;
  }
}
