* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* What does this do? */
}

html {
  box-sizing: border-box; /* What does this do? */
}

.sectionBody {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#about-listing {
  background-color: #25262e;
  color: white;
}

#projects-listing {
  background-color: white;
  color: black;
}

#contact-listing {
  background-color: #dfe0e5;
  color: #25262e;
}

#ending-footer {
  background-color: #25262e;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 100%;
}

.jmar-pfp {
  border-radius: 100%;
  width: 500px;
  height: auto;
}

.interests-photo {
  width: 300px;
  height: auto;
  /* border-radius: 10%; */
}
