.carousel-caption{
    background-color: #25262E;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;
}

.about-us {
    background-color: #25262E;
    color: white;
}

.carousel {
    width: 60%;
    max-width: none;
    margin: auto;
}