* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* What does this do? */
}

html {
  box-sizing: border-box; /* What does this do? */
}

.menu-bar {
  background-color: #25262e;
}

.full-height {
  height: 100vh;
}

@media (max-width: 900px) {
  .full-height {
    height: auto; /* Removes 100vh on smaller screen sizes */
  }
}

#about-listing {
  background-color: #25262e;
  color: white;
}

#projects-listing {
  background-color: white;
  color: #25262e;
}

#contact-listing {
  background-color: #dfe0e5;
  color: #25262e;
}

#ending-footer {
  width: 100vw;
  background-color: #25262e;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 100%;
}

@media (max-width: 768px) {
  #ending-footer {
    flex-direction: column;
  }
}

.jmar-pfp {
  border-radius: 100%;
  width: 500px;
  height: auto;
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.235);

  animation: moveInLeft 2s;
  /* animation: mirrorFlip 2s infinite alternate ease-in-out; */
}

/* Interests area */
.interests-title-container {
  display: flex;
  justify-content: center;
}

.interests-title {
  width: auto;
  padding-bottom: 10px;
  box-shadow: rgba(37, 38, 46, 0.4) 0px 5px, rgba(37, 38, 46, 0.3) 0px 10px,
    rgba(37, 38, 46, 0.2) 0px 15px, rgba(37, 38, 46, 0.1) 0px 20px,
    rgba(255, 255, 255, 0.05) 0px 25px;
}

.interests-img-container {
  position: relative;
  width: 100%; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  transform: rotateY(0deg);
  transition: transform 1s;
}

/* .vg-description {
  z-index: -1;
} */

.interests-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 250px;
  object-fit: cover;
  padding: 0;
  margin: 0;
  /* border-radius: 10%; */
}

.interests-img-container:hover {
  transform: rotateY(180deg);
}

/* .interests-img-container:hover .vg-description {
  z-index: -1;
} */

/* Projects area */
.projects-title-container {
  display: flex;
  justify-content: center;
}

.projects-title {
  width: auto;
  padding-bottom: 10px;
  box-shadow: rgba(37, 38, 46, 0.4) 0px 5px, rgba(37, 38, 46, 0.3) 0px 10px,
    rgba(37, 38, 46, 0.2) 0px 15px, rgba(37, 38, 46, 0.1) 0px 20px,
    rgba(255, 255, 255, 0.05) 0px 25px;
}

.project-img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.box-icons {
  color: #25262e;
}

#dev-intro {
  display: inline-block;
  text-align: center;
  width: auto;
  margin-bottom: 20px;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 5px,
    rgba(211, 211, 211, 0.3) 0px 10px, rgba(169, 169, 169, 0.2) 0px 15px,
    rgba(128, 128, 128, 0.1) 0px 20px, rgba(105, 105, 105, 0.05) 0px 25px;
  animation: moveInLeft 2s;
}

#dev-description {
  animation: moveInLeft 2s;
}

#dev-experience {
  animation: moveInRight 2s;
}

@media (max-width: 1000px) {
  #dev-experience {
    text-align: center;
  }
}

.navbar {
  animation: moveInDown 2s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
