//  COLOR PALETTE 1
$color-background-light-1: #eeeeee;
$color-background-light-2: #d9d9d9;
$color-accent-light-1: #76abae;
$color-accent-light-2: #93d6d9;
$color-accent-light-3: #76abae;
$color-dark-0: #5a6374;
$color-dark-1: #31363f;
$color-dark-2: #222831;

// DARK MODE COLOR PALETTE
