.experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;

  @media only screen and (max-width: 900px) {
    grid-template-rows: 1fr 3fr;
    grid-template-columns: auto;
  }

  &__category {
    // background-color: salmon;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5rem;

    h2 {
      margin: 3rem 0;
    }

    &-separator {
      position: absolute;
      height: 50%;
      width: 100%;
      transform: translateY(8rem);
      border-right: 3px solid rgba($color-dark-1, 0.6);

      @media only screen and (max-width: 900px) {
        display: none;
      }
    }

    @media only screen and (max-width: 900px) {
      justify-content: flex-start;
      align-items: center;
      padding-top: 0;
    }
  }

  &__titlebox {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    @media only screen and (min-width: 900px) {
      width: 25rem;
      height: 25rem;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }

  &__title {
    // background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    // Turn this to a class instead so we can use JS
    &:active {
      transform: translateY(1rem);
    }

    &--1 {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }

    &--2 {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
    }

    &--3 {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    &--4 {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
    }

    p {
      font-size: 2rem;
    }
  }

  &__description {
    overflow: hidden;
    // background-color: lightgreen;
    padding: 8rem;

    @media only screen and (max-width: 900px) {
      padding: 6rem;
    }

    @media only screen and (max-width: 600px) {
      padding: 4rem;
    }
  }

  &__description-work {
    display: grid;
    grid-template-rows: repeat(6, min-content);
  }

  &__description-tech {
    display: grid;
    grid-template-rows:
      repeat(2, min-content) minmax(150px, 300px) repeat(2, min-content)
      minmax(150px, min-content);
    row-gap: 1rem;

    object {
      height: 80%;
      width: 80%;
      max-width: 200px;
      object-fit: cover;
    }
  }

  &__art {
    justify-self: stretch;
    display: grid;
    // grid-template-rows: repeat(auto-fit, min-content);
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    justify-items: center;
  }

  &__artbox {
  }

  &__lottie {
    max-width: 200px;
    object-fit: cover;
  }

  &__icon {
    height: 50px;
    width: 100%;
    display: block;
    z-index: 20;

    @media only screen and (max-width: 600px) {
      height: 40px;
    }

    &--active {
      padding-bottom: 10px;
      border-bottom: 2px solid $color-dark-2;
    }
  }
}
