.experience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  padding: 3rem;
  overflow: hidden;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    height: 100%;
    overflow: hidden;

    &__primary {
      margin-bottom: auto;
    }

    &-item {
      padding: 1rem;
      text-align: center;
      transition: transform 0.5s;
      cursor: pointer;

      border-radius: 5px;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      &:hover {
        // border: 1px solid $color-dark-2;
        transform: scale(1.2);
        text-shadow: 0 1rem 2rem rgba($color-accent-light-1, 0.5);
      }

      &:active {
        transform: translateY(1rem);
      }
    }
  }

  &__card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    padding: 2rem;
    height: 80%;
    width: 80%;
    background-color: #ccc;
  }

  &__visual {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    height: 100%;

    &-photobox {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotateY(0deg);
      background-color: blue;
      height: 80%;
      width: 80%;
      backface-visibility: hidden;

      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      & img {
        display: block;
        height: 100%;
        width: 100%;
      }

      &--expand {
        transform: translate(-50%, -50%) rotateY(-180deg);
      }

      transition: transform 1s;
    }

    &-descriptionbox {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotateY(180deg);
      background-color: yellow;
      height: 80%;
      width: 80%;
      backface-visibility: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      &--expand {
        transform: translate(-50%, -50%) rotateY(0deg);
      }

      transition: transform 1s;
    }
  }

  &__description {
    display: none;
    &--active {
      display: block;
    }
  }
}
