.footer__first {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: $color-dark-2;
    text-align: center;

    a:link,
    a:visited {
      color: $color-dark-1;
      text-decoration: none;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }
  }
}

.footer__second {
  color: $color-background-light-1;
  // background-color: lightcyan;
  padding: 2rem;

  // Later when implemented Dark Mode, Languages, etc...
  // display: grid;
  // grid-template-rows: 1fr 1fr;
  // justify-items: center;
  // align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: $color-dark-2;
    text-align: center;

    a:link,
    a:visited {
      color: $color-dark-2;
      text-decoration: none;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }
  }
}

.footer__img {
  max-height: 150px;
  max-width: 150px;
}
