// Version 1
.project__card {
  overflow: hidden;
  width: auto;
  min-width: 300px;
  height: auto;
  background-color: $color-background-light-1;
  border: 1px solid #31363f;
  border-radius: 16px;
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: 250px repeat(2, min-content) 1fr;
  row-gap: 1rem;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &-photobox {
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #31363f;
    filter: brightness(1.2);
  }

  &-photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-description {
    font-size: 1.5rem;
    margin: 0 2rem 2rem 2rem;
    font-family: "Crimson Text", serif;
    font-weight: 400;
  }

  &-title {
    font-size: 2.25rem;
    margin-left: 2rem;
    font-family: "Crimson Text", serif;
    font-weight: 700;
  }

  &-techbox {
    width: 100%;
    // align-self: end;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(100px, min-content));
    // gap: 10px;
    // align-items: center;
    // justify-items: start;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-family: "Lato", sans-serif;

    padding: 2rem;

    img {
      height: 25px;
      width: 25px;
      display: block;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  &-tech {
    height: 25px;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: $color-accent-light-2;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Version 2

// .project__card {
//   overflow: hidden;
//   width: 400px;
//   height: 500px;
//   background: skyblue;
// }
