.resource__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 4rem;
  border-radius: 16px;
  border: 1px solid black;
  background-color: rgba($color-dark-1, 1);

  @media only screen and (max-width: 600px) {
    grid-template-rows: min-content 300px;
    grid-template-columns: 1fr;
  }

  &-textbox {
    // background-color: lightpink;

    h3,
    p {
      color: $color-background-light-1;
    }

    a {
      text-decoration: none;
      color: $color-accent-light-1;
      transition: transform 0.2s;

      &:hover {
        background-color: $color-accent-light-2;
        color: $color-dark-1;
      }
    }

    @media only screen and (max-width: 600px) {
      margin-bottom: 3rem;
      text-align: center;
    }
  }

  &-artbox {
    // background-color: lightcyan;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    @media only screen and (max-width: 600px) {
      padding: 0;
    }
  }

  &-img {
    width: 75%;
    height: 75%;
    object-fit: contain;

    @media only screen and (max-width: 600px) {
      width: 60%;
      height: 60%;
    }
  }
}
