.section-experience {
  height: 100vh;
}
.section-projects {
  height: 100vh;
  background-color: lightblue;
}
.section-interests {
  height: 100vh;
  background-color: lightcoral;
}
.section-resources {
  height: 100vh;
  background-color: lightyellow;
}
