.section-experience {
  min-height: 100vh; // Makes the section take up the entire viewport by default
  height: auto; // Height will resize depending on the amount of content
}
.section-projects {
  min-height: 100vh; // Makes the section take up the entire viewport by default
  height: auto; // Height will resize depending on the amount of content
  // background-color: lightblue;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.section-interests {
  min-height: 100vh; // Makes the section take up the entire viewport by default
  height: auto; // Height will resize depending on the amount of content
  padding: 4rem;
  // background-color: lightcoral;
}
.section-resources {
  min-height: 100vh; // Makes the section take up the entire viewport by default
  height: auto; // Height will resize depending on the amount of content
  padding: 4rem;
  // background-color: lightyellow;
}
.footer {
  margin-top: 5rem;
  padding-top: 3rem;
  width: 100vw;
  height: auto;
  background-color: $color-dark-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @media only screen and (max-width: 600px) {
    grid-template-rows: repeat(2, minmax(min-content, 15rem));
    grid-template-columns: 1fr;
  }
}
